@import '../../scss/index.scss';

/**
 * @prop --label-margin: Margin label
 * @prop --label-padding: Padding label
 * @prop --icon-content: Icon content
 * @prop --icon-border: Icon border
 * @prop --icon-border-radius: Icon border radius
 * @prop --icon-width: Icon width
 * @prop --icon-heigth: Icon heigth
 * @prop --icon-padding: Icon padding
 * @prop --icon-margin: Icon margin
 * @prop --checked-background-color: Checked background color
 * @prop --checked-border-color: Checked border color
 * @prop --checked-color: Checked color
 * @prop --disabled-border-color: Checked disabled color
 * @prop --checked-disabled-background-color: Checked and disabled background color
 * @prop --checked-disabled-border-color: Checked and disabled border color
 */

:host {
  display: block;
}

input[type=checkbox] {
  display: none;
  + label {
    display: flex;
    align-items: center;
    margin: var(--label-margin, 0.2em);
    cursor: pointer;
    padding: var(--label-padding, 0.2em);

    &:before {
      content: var(--icon-content, "\2714");
      border: var(--icon-border, 1px solid $primary-text);
      border-radius: var(--icon-border-radius, 0.2em);
      display: inline-block;
      width: var(--icon-width, 1em);
      height: var(--icon-heigth, 1em);
      padding: var(--icon-padding, 0 0 0.3em 0.2em);
      margin: var(--icon-margin, 0 0.3em 0 0);
      color: transparent;
    }
  }
  &:checked + label:before {
    background-color: var(--checked-background-color, $primary_color);
    border-color: var(--checked-border-color, $primary_color);
    color: var(--checked-color, $text_icons);
  }
  &:disabled + label:before {
    border-color: var(--disabled-border-color, $disabled);
  }
  &:checked:disabled + label:before {
    background-color: var(--checked-disabled-background-color, $disabled);
    border-color: var(--checked-disabled-border-color, $disabled);
  }
}