:host {
  header {
    display: flex;
    position: relative;
    .line {
      position: absolute;
      z-index: 10;
      height: 2px;
      background: #1E88E5;
      width: 33.33%;
      top: 34px;
      left: 0;
      transition: 0.25s ease;
    }
  }
}