@import '../../scss/index.scss';

:host {
  header {
    display: flex;
    position: relative;
    .line {
      position: absolute;
      z-index: 10;
      height: var(--enabled-height, 0.125rem);
      background: var(--enabled-background-color, $primary-color);
      top: var(--enabled-top, 2.125rem);
      left: 0;
      transition: 0.25s ease;
    }
  }
}