/**
* @prop --back--background: Background of back of modal <br> Default: rgba(128, 128, 128, 0.35)
* @prop --back--justify-content: Justify content of back of modal, it affects the horizontal position of modal in the page <br> Default: center
* @prop --back--align-items: Align items of back of modal, it affects the vertical position of modal in the page  <br> Default: center
* @prop --display: Display option of modal <br> Default: flex
* @prop --background: Background of modal <br> Default: rgba(255, 255, 255, 1)
* @prop --width: Width of modal <br> Default:  12.500em
* @prop --height: Height of modal <br> Default: 18.750em
* @prop --padding: Padding of modal <br> Default: 0.625em
* @prop --border-radius: Border radius of modal <br> Default: 0.625em
* @prop --border: Border of modal <br> Default: none
* @prop --justify-content: Justify content of modal, it affects the horizontal position of the elements inside the modal <br> Default: center
* @prop --align-items: Align items of modal, it affects the vertical position of the elements inside the modal <br> Default: unset
*/
:host {
  display: block;
}

.back {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--back--background, rgba(128, 128, 128, 0.35));
  position: fixed;
  justify-content: var(--back--justify-content, center);
  align-items: var(--back--align-items, center);

  &.visible {
    display: flex;
  }
}

.modal {
  display: var(--display, flex);
  background: var(--background, rgba(255, 255, 255, 1));
  width: var(--width, 12.500em);
  height: var(--height, 18.750em);  
  padding: var(--padding, 0.625em);
  border-radius: var(--border-radius, 0.625em);
  border: var(--border, none);
  justify-content: var(--justify-content, center);
  align-items: var(--align-items, unset);
}
