@import '../../scss/index.scss';

/**
 * @prop --label-margin: Margin label <br> Default: 0.2em
 * @prop --label-padding: Padding label <br> Default: 0.2em
 * @prop --icon-content: Icon content <br> Default: "\2714"
 * @prop --icon-border: Icon border <br> Default: 1px solid #212121
 * @prop --icon-border-radius: Icon border radius <br> Default: 0.2em
 * @prop --icon-width: Icon width <br> Default: 1em
 * @prop --icon-heigth: Icon heigth <br> Default: 1em
 * @prop --icon-padding: Icon padding <br> Default: 0 0 0.3em 0.2em
 * @prop --icon-margin: Icon margin <br> Default: 0 0.3em 0 0
 * @prop --checked-background-color: Checked background color <br> Default: #3F51B5
 * @prop --checked-border-color: Checked border color <br> Default: #3F51B5
 * @prop --checked-color: Checked color <br> Default: #fff
 * @prop --disabled-border-color: Checked disabled color <br> Default: #aaa
 * @prop --checked-disabled-background-color: Checked and disabled background color <br> Default: #aaa
 * @prop --checked-disabled-border-color: Checked and disabled border color <br> Default: #aaa
 */

:host {
  display: block;
}

input[type=checkbox] {
  display: none;
  + label {
    display: flex;
    align-items: center;
    margin: var(--label-margin, 0.2em);
    cursor: pointer;
    padding: var(--label-padding, 0.2em);

    &:before {
      content: var(--icon-content, "\2714");
      border: var(--icon-border, 1px solid $primary-text);
      border-radius: var(--icon-border-radius, 0.2em);
      display: inline-block;
      width: var(--icon-width, 1em);
      height: var(--icon-heigth, 1em);
      padding: var(--icon-padding, 0 0 0.3em 0.2em);
      margin: var(--icon-margin, 0 0.3em 0 0);
      color: transparent;
    }
  }
  &:checked + label:before {
    background-color: var(--checked-background-color, $primary_color);
    border-color: var(--checked-border-color, $primary_color);
    color: var(--checked-color, $text_icons);
  }
  &:disabled + label:before {
    border-color: var(--disabled-border-color, $disabled);
  }
  &:checked:disabled + label:before {
    background-color: var(--checked-disabled-background-color, $disabled);
    border-color: var(--checked-disabled-border-color, $disabled);
  }
}