:host {
  display: inline-block;
  width: 33.33%;
  margin: 0;
  padding: 0;
  input {
    display: none;
    &:checked + label {
      background: #eee;
    }
  }
  label {
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    width: 100%;
    text-align: center;
    background: #f4f4f4;
    color: #555;
    position: relative;
    transition: 0.25s background ease;
    cursor: pointer;
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      display: block;
      background: #ccc;
      bottom: 0;
      opacity: 0;
      left: 0;
      transition: 0.25s ease;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  slot[name="content"] {
    display: none;
  }
}