:host {
  display: var(--dropdown-item--display, flex);
  position: var(--dropdown-group--position, relative);
  width: var(--dropdown-item--width, 200px);
  height: var(--dropdown-item--height, 30px);
  background: var(--dropdown-item--background, rgba(255, 166, 166, 1));
  color: var(--dropdown-item--color, rgba(0, 0, 0, 1));
  padding: var(--dropdown-item--padding, 10px);
  margin: var(--dropdown-item--margin, 0);
  justify-content: var(--dropdown-item--justify-content, space-between);
  align-items: var(--dropdown-item--align-items, center);

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-color: var(--dropdown-item_arrow--color, rgba(0, 0, 0, 1));
    transition: var(--dropdown-item_arrow--transition, all 0.5s);

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  .children {
    overflow: hidden;
    position: var(--dropdown-item_children--position, absolute);
    transition: var(--dropdown-item_children--transition, all 0.5s);
    width: 0;
    height: 0;
  }
}
