$primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$primary-text: #212121;
$secondary-text: #757575;
$text-icons: #FFFFFF;
$disabled: #aaa;
$background-color: #D7DCDF;
$divider-line-color: rgb(0, 0, 0); // #000000 
