$primary-color: #3f51b5;
$dark-primary-color: #303f9f;
$primary-text: #212121;
$secondary-text: #757575;
$text-icons: #ffffff;
$disabled: #aaa;
$background-color: #d7dcdf;
$card-border-color-a125: rgba(0, 0, 0, 0.125);
$card-shadow-color: rgb(0, 0, 0);
$divider-line-color: rgba(0, 0, 0, 0.12);
