:host {
  display: var(--dropdown-group--display, flex);
  width: var(--dropdown-group--width, fit-content);
  height: var(--dropdown-group--height, auto);
  background: var(--dropdown-group--background, rgba(255, 255, 255, 1));
  border: var(--dropdown-group--border, solid 2px rgba(0, 0, 0, 1));
}
  :host(.row) {
    flex-direction: var(--dropdown-group--flex-direction, row);
  }

  :host(.column) {
    flex-direction: var(--dropdown-group--flex-direction, column);
  }

