:host {
  display: block;
}

.accordion  {
  input {
    display: none;
  }

  &.arrows {
    section {
      .box-title {
        padding-right: 44px;
        width: calc(100% - 64px);
        &:before {
          position: absolute;
          display: block;
          content: '\203a';
          font-size: 18pt;
          right: 20px;
          top: -2px;
          transition: transform .15s ease-in-out;
          color: rgba(0,0,0,.54);
        }
      }
    }
  }

  .box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }
    .box-title {
      width: calc(100% - 40px);
      height: 64px;
      line-height: 64px;
      padding: 0 20px;
      display: inline-block;
      cursor: pointer;
      -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    }
    .box-content {
      width: calc(100% - 40px);
      padding: 30px 20px;
      font-size: 11pt;
      color: rgba(0,0,0,.54);
      display: none;
    }
    .box-close {
      position: absolute;
      height: 64px;
      width: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      display: none;
    }
  }
}

input:checked + .box {
  height: auto;
}
input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}
input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}