/**
 * @prop --container-position: Container position <br> Default: relative
 * @prop --container-background: Container background <br> Default: #fff
 * @prop --container-height: Container height <br> Default: 3.375rem
 * @prop --container-transition: Container transition <br> Default: all .15s ease-in-out
 * @prop --container-box-shadow: Container shadow <br> Default: 0 -0.063rem 0 #e5e5e5, 0 0 0.125rem rgba(0,0,0,.12), 0 0.125rem 0.25rem rgba(0,0,0,.24)
 * @prop --title-width: Title width <br> Default: calc(100% - 4rem)
 * @prop --title-height: Title height <br> Default: 3.375rem
 * @prop --title-line-height: Title line height <br> Default: 3.375rem
 * @prop --title-padding: Title padding <br> Default: 0 2.75rem 0 1.25rem
 * @prop --title-display: Title display <br> Default: inline-block
 * @prop --title-cursor: Title cursor <br> Default: pointer
 * @prop --title-user-select: Title user select <br> Default: none
 * @prop --icon-position: Icon position <br> Default: absolute
 * @prop --icon-display: Icon display <br> Default: block
 * @prop --icon-content: Icon content <br> Default: '\203a'
 * @prop --icon-font-size: Icon font size <br> Default: 1.5rem
 * @prop --icon-top: Icon top <br> Default: -0.125rem
 * @prop --icon-bottom: Icon bottom <br> Default: initial
 * @prop --icon-right: Icon right <br> Default: 1.25rem
 * @prop --icon-left: Icon left <br> Default: initial
 * @prop --icon-transition: Icon transition <br> Default: transform .15s ease-in-out
 * @prop --icon-color: Icon color <br> Default: rgba(0,0,0,.54)
 * @prop --icon-transform: Icon color <br> Default: rotate(0deg)
 * @prop --content-width: Content width <br> Default: calc(100% - 2.5rem)
 * @prop --content-padding: Content padding <br> Default: 1.25rem
 * @prop --content-font-size: Content font size <br> Default: 0.938rem
 * @prop --content-color: Content color <br> Default: rgba(0,0,0,.54)
 * @prop --title-border-bottom-opened: Title border bottom opened <br> Default: 0.063rem solid rgba(0,0,0,.18)
 * @prop --title-transform-opened: Title transform opened <br> Default: rotate(90deg)
 */

:host {
  display: block;
  input {
    display: none;
  }
  we-accordion:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .accordion {
    position: var(--container-position, relative);
    background: var(--container-background, #fff);
    height: var(--container-height, 3.375rem);
    transition: var(--container-transition, all 0.15s ease-in-out);
    box-shadow: var(
      --container-box-shadow,
      0 -0.063rem 0 #e5e5e5,
      0 0 0.125rem rgba(0, 0, 0, 0.12),
      0 0.125rem 0.25rem rgba(0, 0, 0, 0.24)
    );
    .accordion-title {
      width: var(--title-width, calc(100% - 4rem));
      height: var(--title-height, 3.375rem);
      line-height: var(--title-line-height, 3.375rem);
      padding: var(--title-padding, 0 2.75rem 0 1.25rem);
      display: var(--title-display, inline-block);
      cursor: var(--title-cursor, pointer);
      user-select: var(--title-user-select, none);
      &:before {
        position: var(--icon-position, absolute);
        display: var(--icon-display, block);
        content: var(--icon-content, '\203a');
        font-size: var(--icon-font-size, 1.5rem);
        top: var(--icon-top, -0.125rem);
        bottom: var(--icon-bottom, initial);
        left: var(--icon-initial, initial);
        right: var(--icon-right, 1.25rem);
        transition: var(--icon-transition, transform 0.15s ease-in-out);
        color: var(--icon-color, rgba(0, 0, 0, 0.54));
        transform: var(--icon-transform, rotate(0deg));
      }
    }
    .accordion-content {
      width: var(--content-width, calc(100% - 2.5rem));
      padding: var(--content-padding, 1.25rem);
      font-size: var(--content-font-size, 0.938rem);
      color: var(--content-color, rgba(0, 0, 0, 0.54));
      display: none;
    }
    .accordion-close {
      position: absolute;
      height: 3.375rem;
      width: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      display: none;
    }
  }
  input:checked {
    + .accordion {
      height: auto;
      .accordion-title {
        border-bottom: var(--title-border-bottom-opened, 0.063rem solid rgba(0, 0, 0, 0.18));
        &:before {
          transform: var(--title-transform-opened, rotate(90deg));
        }
      }
      .accordion-content,
      .accordion-close {
        display: inline-block;
      }
    }
  }
}
